/*Corps du Site*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF3E0;
    line-height: 1.6;
}
/*----------------------------------------------------------------------------------------------*/
/*barre de défilement */
::-webkit-scrollbar {
    width: 15px;
    height: 12px; 
}
::-webkit-scrollbar-thumb {
    background-color: #2e3440; 
    border-radius: 10px; 
    border: 3px solid #2e3440; 
}
::-webkit-scrollbar-thumb:hover {
    background-color: #88c0d0;
    border: 3px solid #88c0d0; 
}
::-webkit-scrollbar-track {
    background-color: #f1d165; 
    border-radius: 10px;
}
/*----------------------------------------------------------------------------------------------*/
/* Bannière principale */
#banniere-principale {
    padding: 50px 20px;
    text-align: center;
    position: relative;
    border-bottom: 5px solid #3d3838;
    font-family: 'Playfair Display', serif; 
    overflow: hidden;
    background-image: url(image/baniere.png);
    background-image: no-repeat;
    background-size: cover;

}
#img1{
    width: auto;
    margin-top: 10px;
    height: auto;
    border-radius: 60%;
    border: 5px solid #3d3838; 
    box-shadow: 5px 10px 20px #000000;
    animation: logo-bounce 2s infinite ease-in-out; 
    transition: transform 0.3s ease-in-out;
}
/*Animation du logo (rebondissement)*/
@keyframes logo-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
/*----------------------------------------------------------------------------------------------*/
/*Bouton Langue*/
#langue{
    position: fixed;
    top: 10px;
    right: 10px;
    font-family: 'Roboto', sans-serif;
    z-index: 100;
}
.dropbtn {
    background-color: #88c0d0;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px #000000;
    transition: background-color 0.3s ease;
}
.dropbtn:hover {
    background-color: #3d3838;
}
.dropdownlangue {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 128px;
    border-radius: 10px;
    box-shadow: 0 8px 16px #000000;
    margin: 0;
    padding: 0;
    z-index: 1000;
}
.dropdownlangue li {
    list-style: none;
}
.dropdownlangue li a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdownlangue li a:hover {
    background-color: #88c0d0;
    color: white;
}
.dropdown:hover .dropdownlangue {
    display: block;
}
/*----------------------------------------------------------------------------------------------*/
/* Barre de navigation */
#banniere {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    background-color: #88c0d0;
    padding: 10px;
    height: 45px;
}
#banniere a {
    color: #ffffff;
    text-decoration: none;
    margin: 10px 15px;
    font-weight: bold;
}
#banniere a:hover {
    color: #3d3838;
    text-decoration: underline;
}
/*----------------------------------------------------------------------------------------------*/
/* Texte principal */
#histoire {
    background-color: #DDEAF6;
    padding: 25px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 5px #000000;
    margin-top: 30px;
}
#histoire h3 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 22px;
    color: #88c0d0;
    margin-bottom: 20px;
}
/*----------------------------------------------------------------------------------------------*/
/* Texte secondaire */
#presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAF3E0;
    padding: 50px;
    padding-top: 40px;
    margin: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 3px 10px #000000;
}
#presentation img {
    width: 90%; 
    border-radius: 15px;
    box-shadow: 0 3px 10px #000000; 
}
#presentation-texte {
    width: 55%; 
    text-align: left;
    padding-left: 20px;
    font-family: 'Playfair Display', serif; 
    color:  #000000;
}
#presentation-texte h3 {
    color: #88c0d0; 
    font-size: 2rem;
}
/*----------------------------------------------------------------------------------------------*/
/* Produits */
#presentation-produits {
    text-align: center;
    background-color: #f4f4f4; 
    padding: 30px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px #000000; 
    margin: 20px;
    margin-top: 60px;
}
#presentation-produits h2 {
    font-size: 2.5rem;
    color: #88c0d0; 
    font-family: 'Playfair Display', serif; 
    margin-bottom: 10px;
    margin-top: 10px;
}
#presentation-produits p {
    font-size: 1.2rem;
    color: #555;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto;
}
#produits {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    padding-top: 25px;
}
#produits img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 3px 6px #000000;
    transition: transform 0.3s ease-in-out;
}
#produits img:hover {
    transform: scale(1.2);
}
/*----------------------------------------------------------------------------------------------*/
/* Pop-up et Formulaire*/
#formulaire {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#formulaire h1 {
    font-size: 1.5rem;
    color: #88c0d0;
    text-align: center;
    margin-bottom: 20px;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}
.open-btn {
    padding: 10px 20px;
    background-color: #88c0d0;
    text-align: center;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.open-btn:hover {
    background-color: #2e3440;
}
.popup-toggle {
    display: none;
}
.popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.popup-toggle:checked + .popup {
    display: flex;
}
.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    max-height: 500px; 
    overflow-y: auto; 
}
.popup-close {
    font-size: 2rem;
    color: #888;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.popup-close:hover {
    color: #333;
}
form {
    text-align: left;
    margin-top: 15px;
}
form label {
    display: block;
    margin: 8px 0 5px;
    font-weight: bold;
    font-size: 1rem;
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea,
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
form input[type="submit"] {
    background-color: #88c0d0;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
form input[type="submit"]:hover {
    background-color: #2e3440;
}
input[type="checkbox"] {
    margin-right: 5px;
}
textarea {
    resize: vertical;
    height: 60px; 
}

