/*Palette de couleur*/
/*  
    #000000 -> noir
    #88c0d0 -> bleu clair
    #faf9ed -> creme clair
    #DAB894 -> brun clair

*/
/*Corps du Site*/
body {
    margin: 0;
    padding: 0;
    background-color: #faf9ed;
    line-height: 1.5;
    font-family: 'Arial', sans-serif;
    text-align: center;
}
/*----------------------------------------------------------------------------------------------*/
/*Barre de défilement */
::-webkit-scrollbar {
    width: 15px;
    height: 12px; 
}
::-webkit-scrollbar-thumb {
    background-color: #000000; 
    border: 3px solid #000000;
    border-radius: 10px;  
}
::-webkit-scrollbar-thumb:hover {
    background-color: #88c0d0;
    border: 3px solid #88c0d0; 
}
::-webkit-scrollbar-track {
    background-color: #DAB894; 
}
/*----------------------------------------------------------------------------------------------*/
/* Bannière principale */
#banniere-principale {
    padding: 50px 0px;
    position: relative;
    border-bottom: 3px solid #DAB894;
    overflow: hidden;
    background-image: url(image/baniere.png);
    background-size: cover;
    background-position: left 50% top 5%;
}
#img1{
    margin-top: 10px;
    border-radius: 50%;
    border: 4px solid #DAB894; 
    box-shadow: 0px 15px 20px #000000;
    animation: logo-bounce 2s infinite ease-in-out; 
    transition: transform 0.3s ;
}
/*Animation du logo (rebondissement)*/
@keyframes logo-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-13px);
    }
}
/*----------------------------------------------------------------------------------------------*/
/*Bouton Langue*/
#langue{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}
.dropbtn {
    background-color: #88c0d0;
    color: white;
    padding: 10px 20px 10px 15px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 5px 8px #000000;
    transition: background-color 0.3s ease-in-out;
}
.dropbtn:hover {
    background-color: #DAB894;
}
.dropdownlangue {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 118px;
    border-radius: 10px;
    box-shadow: 0 8px 16px #000000;
    margin: 0;
    padding: 0;
    z-index: 9999;
}
.dropdownlangue li {
    list-style: none;
}
.dropdownlangue li a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdownlangue li a:hover {
    background-color: #88c0d0;
    color: white;
    border-radius: 10px;
}
.dropdown:hover .dropdownlangue {
    display: block;
}
/*----------------------------------------------------------------------------------------------*/
/* Barre de navigation */
#banniere {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    background-color: #88c0d0;
    padding: 12px;
}
#banniere a {
    color: white;
    text-decoration: none;
    margin: 10px 15px;
    font-weight: bold;
    font-size: 20px;
}
#banniere a:hover {
    color: #000000;
    text-decoration: underline;
}
/*----------------------------------------------------------------------------------------------*/
/* Texte principal */
#histoire {
    background-color: #88c0d0;
    padding: 25px;
    margin: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px #000000;
}
#histoire h3 {
    text-align: center;
    font-size: 20px;
    color: #000000;
    margin-bottom: 22px;
}
/*----------------------------------------------------------------------------------------------*/
/* Texte secondaire */
#presentation {
    display: flex;
    box-shadow: 0 3px 8px #000000;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #DAB894;
    padding: 35px 50px;
    margin: 50px 20px;
}
#presentation img {
    width: 100%; 
    border-radius: 15px;
    box-shadow: 0 3px 18px #000000; 
}
#presentation-texte {
    padding-left: 20px;
    color:  #000000;
}
#presentation-texte h3 {
    color: #000000; 
    font-size: 22px;
}
/*----------------------------------------------------------------------------------------------*/
/* Produits */
#presentation-produits {
    text-align: center;
    background-color: #88c0d0; 
    margin: 60px 20px 20px 20px;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px #000000; 
}
#presentation-produits h2 {
    font-size: 30px;
    color: #000000; 
    margin: 20px 0px;
}
#produits {
    display: flex;
    justify-content: space-around;
    padding-top: 13px;
}
#produits img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 3px 8px #000000;
    transition: transform 0.2s ease-in-out;
}
#produits img:hover {
    transform: scale(1.2);
}
/*Code pour essayer de rendre responsive les images*/
@media (max-width: 768px) {
    .produits-container {
        flex-direction: column; 
        align-items: center; 
    }

    .produit {
        flex: 1 1 80%; 
        margin-bottom: 20px; 
    }
}
/*----------------------------------------------------------------------------------------------*/
/* Pop-up et Formulaire*/
#formulaire {
    background-color: white;
    padding: 20px;
    margin: 150px auto 20px auto;
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #000000 ;
}
#formulaire h1 {
    font-size: 25px;
    color: #88c0d0;
    text-align: center;
    margin-bottom: 20px;
}
.open-btn {
    padding: 10px 20px;
    background-color: #88c0d0;
    text-align: center;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px #000000;
}
.open-btn:hover {
    background-color: #DAB894;
}
/*Cacher et faire apparaitre la pop-up*/
.popup-toggle {
    display: none;
}
.popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.popup-toggle:checked + .popup {
    display: flex;
}
.popup-content {
    background-color: #ffffff;
    padding: 15px 20px 20px 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 8px 15px #000000;
    text-align: center;
    position: relative;
    max-height: 500px; 
    overflow-y: auto; 
}
.popup-close {
    font-size: 45px;
    color: #000000;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 15px;
}
.popup-close:hover {
    color: #DAB894;
}
/*intérieur de la pop-up*/
form label {
    display: block;
    margin: 8px 0 5px;
    font-weight: bold;
    font-size: 1rem;
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea,
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}
form input[type="submit"] {
    background-color: #88c0d0;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
form input[type="submit"]:hover {
    background-color: #DAB894;
}
input[type="checkbox"] {
    margin-right: 5px;
}
textarea {
    resize: vertical;
    height: 60px; 
}
/*----------------------------------------------------------------------------------------------*/
/*Bannière de fin avec la carte et infos complémentaires*/
#banniere-fin {
    background-color: #000000; 
    padding: 30px 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
#carte-container {
    flex: 1 1 40%;
    padding-right: 20px;
    text-align: left;
    color: white;
}
#carte-container h2{
    justify-content: center;
    padding-left: 25px;
}
#carte img{
    width: 450px;
    padding-left: 20px; 
    border-radius: 5px;
}
#infos-complementaires {
    flex: 1 1 50%;
    padding-left: 25px;
    text-align: center; 
}
#infos-complementaires h3 {
    font-size: 1.8rem;
    color: #88c0d0;
    margin-bottom: 20px;
}
#infos-complementaires p {
    font-size: 1.2rem;
    color: white;
    line-height: 1.6;
    max-width: 600px; 
    margin: 0 auto;
}
/*code pour essayer de rendre la bannière responsive*/
@media (max-width: 768px) {
    #banniere-fin {
        flex-direction: column;
        text-align: center;
    }

    #carte-container, #infos-complementaires {
        flex: 1 1 100%; 
        padding-right: 0;
        padding-left: 0;
    }
    #infos-complementaires p {
        margin-top: 10px;
    }
}



















